.customBtn {
    border: none;
    -moz-border-radius: 8px;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-border-radius: 25px;
    -webkit-transition: all 0.5s ease;
    background-color: #0aafa1;
    border-radius: 8px;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    padding: 7px;
    text-decoration: none;
    text-shadow: #000000 5px 5px 15px;
    transition: all 0.5s ease;
    width: 6em
  }